*{
    margin: 0;
    font-family: Sans-serif;
}
.font-resize{

}
p, .inner{
    color: #2b2b2b;
}
h2{
    color: #2b2b2b;
}
a{
    text-decoration: none;
}
ol, ul {
    list-style: none;
    padding: 0;
}