*{
    margin: 0;
}
.font-resize{

}
.content-text, .inner{
    color: #686868;
    h2{
        color: #686868;
    }
}
.right-side{
    h2{
        color: #f89c22;
    }
}

header, footer, .nav-left{
    ol, ul, li {
        list-style: none;
        padding: 0;
    }
    ul{
        li {
            list-style: none;
            padding: 0;
        }
    }
    a{
        text-decoration: none;
        color: #fff;
    }
}
#footer-right{
    ul{
        li{
            a{
                color: #fff;
            }
        }
    }
}
.right-side{
    ul{
        li {
            list-style: none;
        }
    }
    p{
        font-size: 0.9em;
        color: #2b2b2b;
    }
}
nav{
    font-family: Arial;
    ol, ul, li {
        list-style: none;
        padding: 0;
    }
    a{
        text-decoration: none;
        color: #686868;
    }
}
//
.section{
    font-family: Arial;
    a{
        text-decoration: none;
    }
    p{
        font-size: 0.9em;
    }
}
.right-side, .big-news-item, .wrap-h{
    font-family: Arial;
    line-height: 25px;
    color: #686868;
    h4{
        color: #000;
    }
    a{
        text-decoration: none;
    }
}
.section-2-slider{
    font-family: Arial;
    h4{
        color: #000;
    }
    line-height: 25px;
    p{
        font-size: 0.9em;
    }
}
.title{
    
    a{
        text-decoration: none;
    }
    h2{
        color: #000;
    }
}